<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Order #{{ transaction.id }} - Perfect Cushion Store</title>
    <style>
        table{
            width: 60%;
            margin: 0 auto;
            border-collapse: collapse;
        }
        table tr td {
            border: 1px solid #c1c1c1;
        }
        p {
            padding-right: 50px;
            padding-left: 50px;
        }
    </style>
</head>
<body>
    <center>
        <h1>Thanks for shopping with us</h1>
        <p>This email is to confirm that you have placed an order on the Perfect Cushion Store. <br> Please make sure that all the details of your order are correct</p>
    </center>
    <br>
    <table>
        <tr>
            <td valign="top" colspan="2" style="width: 50%;">
                <b>Bill to:</b><br>
                {{ transaction.billingName }} <br>
                {{ transaction.billingAddress1 }} <br>
                {{ transaction.billingCity }} <br>
                {{ transaction.billingPostcode }} <br>
                {{ transaction.billingCountry }} <br>
            </td>
            <td>
                <b>Order: </b>#{{ transaction.id }} <br>
                <b>Date: </b>{{ transaction.created|date:"d M Y"}}
            </td>
        </tr>
        <tr>
            <td><b>Product Description</b></td>
            <td><b>QTY</b></td>
            <td><b>Unit Price</b></td>
            <td><b>Sub-Total</b></td>
        </tr>
        {% for item in order_items %}
        <tr>
            <td>{{ item.product }}</td>
            <td>{{ item.quantity }}</td>
            <td>{{ item.price }}</td>
            <td>{{ item.sub_total }}</td>
        </tr>
        {% endfor %}
        <tr>
            <td colspan="3" style="text-align: right;"><b>Total</b></td>
            <td>BDT{{ transaction.total }}</td>
        </tr>
        <tr>
            <td colspan="3" style="text-align: right;"><b>Total Paid</b></td>
            <td>BDT{{ transaction.total }}</td>
        </tr>
        <tr>
            <td valign="top" colspan="2" style="width: 50%;">
                <b>Ship to:</b><br>
                {{ transaction.shippingName }} <br>
                {{ transaction.shippingAddress1 }} <br>
                {{ transaction.shippingCity }} <br>
                {{ transaction.shippingPostcode }} <br>
                {{ transaction.shippingCountry }} <br>
            </td>
            <td valign="top" colspan="2" style="width: 50%;">
                <b>Payment details: </b> <br>
                BDT{{ transaction.total }} was paid successfully via Stripe.
            </td>
        </tr>
    </table>
    <center>
        <br>
        <p>If you are a registered customer and want to check your order history, please <a href="http://127.0.0.1:8000/account/login">sign in</a>. <br> Otherwise <a href="http://127.0.0.1:8000/account/create">sign up</a> to create new account with us.</p>
    </center>
</body>
</html>