<h3>Dear User,</h3>

<p style="font-weight: bold;color: green">A quotation request has been generated for the product "{{ product }}".</p>

<p style="color: red"> This is an auto generated mail. Please do not reply. </p>

<h3>EmdadEcommerce</h3>