<h3>Dear User,</h3>

<p>
    Please  <a href="{{ token }}" class="text-info font-weight-bold">Click Here</a> to Active Your Account.
</p>

<p style="color: red"> This is an auto generated mail. Please do not reply. </p>

<h3>Regards,</h3>
<h3>@Team Emdad</h3>
<p>Date: {{ date }}</p>