<h3>Dear User,</h3>

<p style="font-weight: bold;color: green">Your account has been created successfully! Thanks for registering to Emdad Ecommerce.</p>

<p style="color: red"> This is an auto generated mail. Please do not reply. </p>

<h3>Regards,</h3>
<h3>@Team Emdad</h3>
<p>Date: {{ date }}</p>