<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	  <span class="navbar-toggler-icon"></span>
	</button>
  
	<div class="collapse navbar-collapse" id="navbarSupportedContent">
	  <ul class="navbar-nav mr-auto">
		<li class="nav-item dropdown {% if 'shop' in request.path %}active{% endif %}">
		  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			Shop
		  </a>
		  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
			<a class="dropdown-item" href="{% url 'shop:allProdCat' %}">All Product</a>
			{% for cat in links %}
			<a class="dropdown-item" href="{{ cat.get_url }}">{{ cat.name }}</a>
			{% endfor %}
		  </div>
		</li>
		{% if item_count > 0 %}
		<li class="nav-item">
		  <a class="nav-link" href="{% url 'cart:cart_detail' %}"><i class="fas fa-shopping-cart"></i>({{ item_count }})</a>
		</li>
		{% endif %}
	  </ul>
	  <form class="form-inline my-2 my-lg-0" action="{% url 'search_app:searchResult' %}" method="get">
		{% csrf_token %}
		<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="q">
		<button class="btn btn-outline-success my-2 my-sm-0" type="submit"><i class="fas fa-search"></i></button>
	  </form>
	</div>
  </nav>