{% extends "base.html" %}
{% load static %}
{% block metadescription %}
    We have a variety of stunning and comfy cushions. Look for the one that suits your needs.
{% endblock %}
{% block title %}
    Search -Perfect Cushions Store
{% endblock %}
{% block content %}
    <div>
        <p class="text-center my_search_text">You have searched for: <strong>{{ query }}</strong></p>
    </div>
    <div class="container">
		<div class="row mx-auto">
			{% for product in products %}
				<div class="my_bottom_margin col-9 col-sm-12 col-md-4 col-lg-4">
					<div class="card text-center" style="width: 18rem;">
						<a href="{{ product.get_url }}"><img class="card-img-top my_image" src="{{ product.image.url }}" alt="{{ product.name }}"></a>
						<div class="card-body">
							<h4>{{ product.name }}</h4>
							<p>{{ product.price }}Tk.</p>
						</div>
					</div>
                </div>
                {% empty %}
                <div class="row mx-auto">
                    <p class="text-center my_search_text">0 relusts found.</p>
                </div>
			{% endfor %}
        </div>
    </div>
{% endblock %}